.AnswerBox {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:-10px;
  padding:-10px;
  background-color: purple;
}
.AnswerBoard{
  display: block;
  
  border:5px solid black;
  border-radius: 5%;
  box-shadow: azure;
  width: 30vw;
  height:80vh;
}